# Copy this file to .env for custom configuration
# cp env.example .env

# Server Port
PORT=3001

# Environment
NODE_ENV=development

# Firebase Admin credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
# Remember to wrap the private key in quotes and replace literal newlines with \n
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

